 
.h1C{
    font-size: 40px;
}
fieldset{
    margin: 20px 250px 0 250px;
    padding: 10px 20px 5px 30px;
    font-weight: 300;
    color:$color-principal;
    font-size: 15px;
    border-color: $color-secundario;
    border-radius: 10px;
    display:grid;
    grid-template-columns: 3;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 4px;
    align-items: center;

}

.form{
    background-color:  rgba(49, 124, 99, 0.808);
    width: 800px;
    
    &:hover{
        transition-delay: 0.5;
        transition:all 2s;
        color: black;
        font-size: 20px;
    }
}

.button{
    margin:50px 0 32px 0;
    justify-self: end;
    color:$color-principal;
}
/*---------------- RESPONSIVE ----------------*/

@media (max-width: 576px){

    fieldset{
        margin: 10px;
        padding: 10px 10px 10px 15px;

        .form{
            width: 300px;
            height: 50px;
        }
        .mensaje{
            height: 70px;
        }
        .button{
            margin-top:80px;
        }
    }
}