
.mainE{
    height:100%;
  
    .h1E{
        font-size: map-get($font-size,title );
        margin-top: 120px;
    }
  
    .h2E{
        font-weight: 400;
        font-size: map-get($font-size,subtitle );
        margin-top: 110px;
        color: $color-principal;
        display:flex;
        justify-content: center;

    }

    .imgE{
        margin-top: 107px;
        margin-bottom: 150px;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        justify-items: center;
        align-items: center;
        padding: 50px 60px 60px 60px;
    
  
        .iconsE{
            height: 70px;
            width: auto;
            &:hover{
                @include botones-hover;
            }
        }
        .borders{
            border-radius: 40px;
            opacity:0.9;
        }
        .ipef{
            border-radius: 10px;
        }
    }
}

/*---------------- RESPONSIVE ----------------*/

@media (max-width: 576px){
    .h1E{
        margin-top:10px;
    }
    .mainE{
        .imgE{
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-row-gap: 80px;
            padding: 50px 20px 20px 20px; 
            margin-bottom:0;    
            
            .iconsE{
                max-width: 90%;
                max-height: 75%;
            }   
        }   
    }   
    .footerE{
        padding-top:47px;
    }
}
@media (min-width:577px) and (max-width:1180px){
    .mainE{
        .h1E{
           font-size:map-get($font-size,big);
        }
        .h2E{
            margin-top:100px;
            font-size:map-get($font-size,title)-5;
        }
        .imgE{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-row-gap: 120px;
            .iconsE{
                margin: 30px 0px;
            }
        }
    }
}




    
