.pres{
    font-size: map-get($font-size, $key:title );
    margin-top: 110px;
}

#presupuesto{

    margin: 20px 250px 0px 350px;
    padding: 10px 20px 5px 30px;
    font-weight: 300;
    color:$color-principal;
    font-size: map-get($font-size, $key:texts);
    border-color: $color-secundario;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: auto ;
    justify-content: center;

    .form{
        width: 700px;
        
    }
}


.buttonP{
    margin-top: 30px;
    align-self: center;
    justify-self: end;
    color:$color-principal;
}