
.h1QS{
    font-size: map-get($font-size,title);
}
.QS{
    font-weight: 300;
}

.pQS{
    font-weight: 500;
}

.containerQS{
    border-style: double;
    margin:0 120px 91px 120px;
    border-color:$color-principal;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3,70px);
    grid-row-gap: 10px;
    padding:20px 0;

    .subtitleQS{
        font-size: map-get($font-size,texts);
        font-weight: 500;
        align-self: center;
        padding: 0 0 20px 10px;
        text-align: right;
        color: $color-principal;
    }

    .text{
        justify-self: flex-start;
        font-weight: 200;
        align-self: center;
        text-align: justify;
        padding: 20px 0;
        word-spacing: 0;
        padding: 40px 0 40px 0;
    
        &:hover{
            transform: scale(1.1);
            transition: all 0.3s;
            color: rgb(60, 238, 244);
            font-weight: 400;
        }
    }
}

/*---------------- RESPONSIVE ----------------*/

@media (max-width: 576px){
    .pQS{
        font-size: map-get($font-size,texts);
        margin-top: 30px;
    
    }
    .containerQS{   
    margin:10px 10px;
    padding:30px 10px;
    grid-template-columns: 1fr auto;
    grid-template-rows: repeat(3,80px);
    grid-row-gap: 40px;
    justify-items: center;
    line-height: 0;
    height: auto;

        .subtitleQS{    
        font-size: map-get($font-size,medium)--5px;
        padding:10px;
        font-weight: 400;
        align-self: flex-start;
        }

        .text{
            margin: 15px 0px;
            padding: 5px;
            font-weight: 500;
            font-size:map-get($font-size,texts);
            line-height: 20px;
            justify-self: center;
            align-content: space-between;
        }
    }
    .footerQS{
        margin-top:35px;
    }
}
@media (min-width:577px) and (max-width:1180px){
    .h1QS{
        font-size: map-get($font-size,big);
    }
    .pQS{
        line-height: 40px;
        margin-bottom: 50px;
        font-size:map-get($font-size, medium);
    }
    .containerQS{
        padding:50px 10px;
        margin: 10px;
        height: auto;
        grid-row-gap: 90px;

        .subtitleQS{
            font-size: map-get($font-size,subtitle)+5px;
        }
        .text{
            margin: 20px 10px;
            padding:20px;
            font-weight: 400;
            line-height: 35px;
            font-size: map-get($font-size,subtitle)+5px;
            
        }
    }
    .footerQS{
            margin-top:75px;
        
    }
}