
.mainS{
    display:grid;

    .h1S{
        font-size: map-get($font-size,title);
        margin-top: 126px;
    }
    .pMobile{
        font-weight: 300;
        line-height: 1.5;

    }
    .h2S{
        font-weight: 300;
        text-align: center;
        font-size:map-get($font-size,subtitle);
        padding-top:10px;
        padding-left:30px;
        text-transform: uppercase;
        text-decoration: underline;
        color:$color-principal;
    }
    .nav_listS{
        padding: 50px 30px 30px 40px;
        color:$color-principal;
        font-size:17px;
        list-style-type: none;
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        grid-column-gap: 30px;
        margin-bottom: 65px;

        .nav_itemsS{
            font-weight: 300;
            padding: 10px;
            display:grid;
        
            &:hover{
                transform:scale(1.2);
                transition: all 0.5s;
            }
        }
    }
}

/*---------------- RESPONSIVE ----------------*/
@media(max-width:576px){
    .mainS{

        .pMobile{
            font-size: map-get($font-size,texts);
            padding:0;
        }

        .h2Mobile{
            margin:5px 0;
        }

        .nav_listS{
            align-items: flex-start;
            justify-items: center;
            text-align: center;
            padding:0 ;
            margin-bottom: 30px;
            margin-top:30px;
            font-size:10px;
            line-height: 15px;
            grid-template-columns: none;
            
            .nav_itemsS{
                font-size: map-get($font-size,texts);
            }
        }
    }
    .footerS{
        margin-top:50px;
    }
}
@media (min-width:577px) and (max-width:1180px){
    .mainS{
        .h1S{
            font-size:map-get($font-size,big);
        }
        .pMobile{
            font-size:map-get($font-size,medium);
            font-weight: 500;
        }
        .h2S{
            font-size:map-get($font-size,title)-5;
        }
        .nav_listS{
            font-size:map-get($font-size,subtitle)+2;
            padding:20px;
            margin-bottom: 0px;
        }
    }
    .footerS{
        margin-top:0px;
    }
}