
footer{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
    width: 100%;
    
    .footer_icons{
        margin: 10px 20px 30px 20px;
        width: 30px;
        height: 30px;
    }
}
@media (max-width: 576px){
    footer{
        margin-top:75px;
    }
}
@media (min-width: 350px) and (max-width:1180px){
    footer{
        margin-top:0;
    }
}