

.navbar{
    width: 100%;
    padding: 20px 0 30px 30px;
    margin-top:20px;

    .radial{
        border-radius: 60%;
        width:80px;
        height: 80px;
        opacity: 0.9;
        margin-left: 30px;
        
    }
    &-nav{
        display:flex;
        list-style-type: none;
        justify-content: end;
        margin-right: 40px;

        .nav-item{
            margin-right:15px;
            top: 0;
        
            .nav-link{
                color: $color-principal;
                text-decoration: none;
                font-weight: 500;
                font-size: 15px;
                text-transform: capitalize;
            }
        }
    }
}

@media (min-width: 350px) and (max-width:1180px) {
    .navbar{
        padding:0;
        
        .nav-item{
        
            .nav-link{
                color:darkblue;
            }
        }
        .radial{
            margin-left:5px;
        }
        
    }
}